In [19]:
import mysql.connector as db
import pandas as pd
import numpy as np

In [11]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_1.csv")
df_buses_2=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_2.csv")
df_buses_3=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_3.csv")
df_buses_4=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_4.csv")
df_buses_5=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_R.csv")
df_buses_6=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_6.csv")
df_buses_7=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_7.csv")
df_buses_8=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_8.csv")
df_buses_9=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_9.csv")
df_buses_10=pd.read_csv(r"C:\Users\mural\OneDrive\Desktop\RedBus\df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:03,18:48,08h 45m,INR 469,4 Seats available,4.1\n78,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,INR 627,8 Seats available,3.6\n105,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:15,08h 20m,INR 567,10 Seats available,3.8\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,INR 620,28 Seats available,4.6\n13,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,22:20,06h 55m,INR 729,22 Seats available,2.5\n37,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2437,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,INR 524,24 Seats available,4.3\n57,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2438,Greenline (Karunamoyee),Volvo A/C Seater (2+2),16:45,21:45,05h 00m,INR 524,28 Seats available,4.2\n85,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2439,Express Line,Volvo 9600 A/C Semi Sleeper (2+2),17:20,22:20,05h 00m,INR 524,44 Seats available,4.6\n70,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2440,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo A/C Seater (2+2),17:30,22:30,05h 00m,INR 524,26 Seats available,4.1\n135,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2441,Greenline,Volvo A/C Seater (2+2),18:05,23:05,05h 00m,INR 524,36 Seats available,4.1\n33,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

## DATA CLEANING

In [13]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2442 entries, 0 to 2441
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2416 non-null   object
 1   Bus_type         2414 non-null   object
 2   Start_time       2416 non-null   object
 3   End_time         2416 non-null   object
 4   Total_duration   2416 non-null   object
 5   Price            2416 non-null   object
 6   Seats_Available  2416 non-null   object
 7   Ratings          2416 non-null   object
 8   Route_link       2442 non-null   object
 9   Route_name       2442 non-null   object
dtypes: object(10)
memory usage: 190.9+ KB

In [ ]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

In [ ]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

In [25]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2442 entries, 0 to 2441
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2416 non-null   object
 1   Bus_type         2414 non-null   object
 2   Start_time       2416 non-null   object
 3   End_time         2416 non-null   object
 4   Total_duration   2416 non-null   object
 5   Price            2416 non-null   float64
 6   Seats_Available  2416 non-null   object
 7   Ratings          2442 non-null   float64
 8   Route_link       2442 non-null   object
 9   Route_name       2442 non-null   object
dtypes: float64(2), object(8)
memory usage: 190.9+ KB

In [27]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [41]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [31]:
# change dataframe to csv
path=r"C:\Users\mural\OneDrive\Desktop\RedBus\Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

## Create a mysql database

In [55]:
db_connection = db.connect(
    host = "localhost",
    user = "murali",
    password = "root",
    database = "bus_routes"
)
my_cursor = db_connection.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [57]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) ,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [59]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

results = my_cursor.fetchall()
db_connection.commit()

print("Values inserted successfully")

Values inserted successfully